VITE_ATLAS_API_KEY=1b7c6e2e-f234-4ef7-888a-d0377a9e3c19
VITE_ATLAS_BASE_URL=https://data.mongodb-api.com/app/5fc2367cc2607317cc7c8769/endpoint/data/v1
VITE_ATLAS_DATABASE=attendance
VITE_ATLAS_DATA_SOURCE=Cluster0
